{% load static %}
<html>
    <head>
        <script type="text/javascript">
            function validate()
            {
                username=document.getElementById("username").value;
                password=document.getElementById("password").value;
                if(username=="")
                {
                    alert("please enter username");
                    return false;
                }
                else if(password=="")
                {
                    alert("please enter password");
                    return false;
                }
                else
                {
                    return true;
                }
                    
            } 
        </script>
    </head>
    <body  background="{% static 'images\b.jpeg' %}">
        <form action="" method="POST">
            {%csrf_token%}
            <table border="1" align="center">
                <tr>
                    <td><img src="{% static 'images\download.png' %}"  width="123" height="100"></td>
                    <td><marquee direction="right"><img src="{% static 'images\11.jpg' %}" width="200" height="100"><img src="{% static 'images\3.jpg' %}" width="200" height="100"><img src="{% static 'images\back.jpg' %}" width="200" height="100">
                    </marquee></td>
                </tr>
                <tr>
                    <td colspan="2" style="color:rgb(255, 0, 0);"> 
                        <marquee behaviour="alternate">!!!ALERT : Next batch registrations are open now!!!</marquee>                             
                    </td>
                </tr>
                <tr height="300">
                    <td style="vertical-align: top;"> 
                            <table border="1">
            
                                <tr><td height="50" width="115"><a href="{% url 'login' %}">LOGIN</a></tr>
                                <tr><td height="50" width="115"><a href="{% url 'register' %}">REGISTER</a></tr>
                                <tr><td height="50" width="115"><a href="{% url 'batch' %}">BATCH</a></tr>
                                <tr><td height="50" width="115"><a href="{% url 'contactus' %}">CONTACT US</a></tr>
                                <tr><td height="50" width="115"><a href="{% url 'gallery' %}">GALLERY</a></tr>
                            </table>
                       
                    </td>
                    <td width="1200" height="600"> 
                        <table border="1" align="center"> 
                            <form>
                                <tr>
                                    <td colspan="2" align="center" style="color:green ;"><marquee>LOG-IN HERE</marquee></td>
                                </tr>
                                <tr>
                                    <td>username</td>
                                    <td><input type="text" id="username" name="username"></td>
                                </tr>
                                <tr>
                                    <td>password</td>
                                    <td><input type="password" id="password" name="password"></td>
                                </tr>
                                <tr colspan="2">
                                    <td align="center"><input type="button" id="clear" value="clear"></td>
                                    <td align="center"><input type="submit" onclick="return validate()" id="submit" name="submit"></td>
                                </tr>
                                <tr><td colspan="2">{{status}}</td></tr>
                                <tr><td colspan="2">Did'nt register yet?<a href="{% url 'register' %}">register</a></tr>
                            </form>            
                        </table>
                    </td>
                </table>
                <div>
                    <h3>Find us</h3>
                    <p>travel tourism,Malvan,<br>
                            GOA,403001, INDIA<br>
                            (+91) 1234567890<br>
                            (+91) 9876543210<br>
                            traveltourism@gmail.com
                    </p>
    </div>
    <diV>
        <h3>FEEDBACK</h3>
             <form>
             <input type="textarea" width="30" height="30" placeholder="FEEDBACK"><br>
             <input type="submit">
             </form>
        </div>
                   
    </body></html>
